body {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}
.container {
    width: 500px;
    height: 500px;
    border: 1px solid  black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

button {
    padding: 10px;
}